@tailwind base;
@tailwind components;
@tailwind utilities;
@import "keen-slider/keen-slider.min.css";


:root {
  --font-inter: 'Inter', sans-serif;
  --font-merriweather: 'Merriweather', serif;
  --font-dancing-script: 'Dancing Script', cursive;
}



html {
  scroll-behavior: smooth;
}


body {
  @apply bg-black text-white;
}
